html, body {
    padding: 0;
    margin: 0;
    font-family: "Rockwell Extra Bold","Rockwell Bold", monospace;
    cursor: url("cursor.png"), auto;
    overflow-x: none;
}

.intro {
  color: #FFF;
  padding: 16px;
  text-shadow: #111 2px 2px;
}

.intro h1 {
  font-size: 24px;
  line-height: 20px;
}

.intro p {
  margin-top: 8px;
}

.intro a {
  color: #FFF;
  cursor: crosshair;
}

.border-dashed {
  display: inline-block;
  padding: 20px;
  border: dashed 1px #000 !important;

  border-image: url("border-dashed.png") 1 round !important;
  margin: 0 20px;
}

.container {
    margin: 35px 12px;
    padding: 2px 8px;
    display: inline-table;
    text-align: center;
    border: 1px solid #FFF;
}

.container .header {
    background-color: #FFF;
    position: relative;
    top: -18px;
    margin-top: 4px;
    z-index: 10;
    padding: 4px 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container_flags {
    margin-bottom: 8px;
}

.flag {
    display: inline-block;
    margin: 0 5px;
}

.flag:hover {
    cursor: crosshair;
}

.flag img {
    width: 100px;
    height: 60px;
}

.modal-controller {
    display: none;
}

.modal {
    color: #FFF;
    border: 4px outset #FFF;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);;
    position: fixed;
    z-index: 100;
    width: 300px;
    top: 32px;
    left: 32px;
    cursor: url("cursor.png"), auto;
    text-align: center;
}

.modal img {
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 60px;
}

.modal-close {
  border-radius: 2px;
  margin: 2px;
  font-size: 12px;
  cursor: crosshair;
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -100;
  background-image: url('syria_map.png');
  background-size: cover;
}
